<%= render "shared/header", text: "Mes sessions" %>
<div class="session-index-container yield-container">
    <div class="cta-container">
        <%= link_to 'Lancer une session', new_sessions_formation_path, class: 'session-new-cta' %>
        <%= link_to 'Prochaine session', sessions_formation_path(@nextSession), class: 'session-next-cta' %>
    </div>
    <div class="session-index-calendar sec-back-plate" data-controller="index-session-calendar-toggle">
        <div class="index-session-over-calendar">
            <h2>Calendrier</h2>
            <i class="fa-regular fa-calendar-days" data-action="click->index-session-calendar-toggle#toggle"></i>
        </div>
        <%# ajout de attribute: :date_debut car different du parametrage initial de la gem %>
        <%= month_calendar(events: @sessions, attribute: :date_debut, end_attribute: :date_fin) do |date, sessions| %>
        <%= date.strftime("%e") %> <%= t('date.month_names')[date.month] %>
            <% sessions.each do |session| %>
            <% i = session.programme_id %>
            <% while i > @colors.length - 1
                i = i / 2
            end %>
                <%= link_to sessions_formation_path(session) do %>
                    <div class="meeting" style="background-color: <%= @colors[i] %>;">
                    <p><%= session.nom %></p>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
        <div class="session-index-sessions-container sec-back-plate">
            <% @sessions.each do |session| %>
                    <%= link_to sessions_formation_path(session) do %>
                <div class="session-index-sessions-items sec-back-plate">
                        <% if @preinscriptions.where(session_id: session.id).length > 0 %>
                            <div class="pending-inscriptions-number">
                                <p><%= @preinscriptions.where(session_id: session.id).length %></p>
                            </div>
                        <% end %>
                        <p class="session-nom"><%= session.nom %></p>
                        <% if session.inscriptions.count == 1 %>
                            <p class="session-apprenants-counter"><%= session.inscriptions.count %> Apprenant</p>
                        <% elsif session.inscriptions.count == 0 %>
                            <p class="session-apprenants-counter">Aucun apprenant</p>
                        <% else %>
                            <p class="session-apprenants-counter"><%= session.inscriptions.count %> Apprenants</p>
                        <% end %>
                        <p class="programme-description"><%= session.programme.description.truncate(130) %></p>
                        <p class="session-dates"><%= "Du #{I18n.l(session.date_debut, format: "%A %e %B %Y")}"%><br><%= "Au #{I18n.l(session.date_fin, format: "%A %e %B %Y")}" %></p>
                        <%= link_to 'Annuler cette session', sessions_formation_path(session), data: { turbo_method: :delete }, class: "delete_link" %>
                </div>
                    <% end %>
            <% end %>
        </div>
</div>
<p></p>