<%= render "shared/header", text: "Aperçu session" %>
<div class="session-show-container yield-container">
    <div class="session-show-details-container sec-back-plate">
        <h1>Session#<%= @session.id %></h1>

        <div class="show-session-details">
            <%# PROGRAMME %>
            <p class="show-session-details-items fsize-inter" data-controller="show-session-edit">
                <%= @session.programme.titre %>
            </p>

            <%# INTERVENANT %>
            <p class="show-session-details-items fsize-inter" data-controller="show-session-edit">
                Assurée par <%= link_to "#{@session.intervenant.nom.upcase} #{@session.intervenant.prenom.capitalize}", intervenant_path(@session.intervenant) %>
            </p>

            <%# DATES %>
            <p id="session-date_debut-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                <%# <i class="fa-solid fa-pencil"></i> %>
                <span data-show-session-flatpickr-id-value="<%= @session.id %>" data-show-session-flatpickr-column-value="date_debut" data-controller="show-session-flatpickr">Du <%= @session.date_debut.strftime("%d/%m/%y %Hh%M") %></span>
            </p>
            <p id="session-date_fin-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                <%# <i class="fa-solid fa-pencil"></i> %>
                <span data-show-session-flatpickr-id-value="<%= @session.id %>" data-show-session-flatpickr-column-value="date_fin" data-controller="show-session-flatpickr">Au <%= @session.date_fin.strftime("%d/%m/%y %Hh%M") %></span>
            </p>

            <%# NOM %>
            <p id="session-nom-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                <%# <i class="fa-solid fa-pencil"></i> %>
                <span data-show-session-edit-column-value="nom" data-show-session-edit-id-value="<%= @session.id %>"  data-action="click->show-session-edit#openEdit"><%= @session.nom %></span>
            </p>

            <%# PRIX %>
            <p id="session-prix-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                <%# <i class="fa-solid fa-pencil"></i> %>
                <span data-show-session-edit-column-value="prix" data-show-session-edit-id-value="<%= @session.id %>"  data-action="click->show-session-edit#openEdit"><%= @session.prix %>€</span>
            </p>

            <%# ADRESSE %>
            <p id="session-adresse-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                <%# <i class="fa-solid fa-pencil"></i> %>
                <span data-show-session-edit-column-value="adresse" data-show-session-edit-id-value="<%= @session.id %>"  data-action="click->show-session-edit#openEdit"><%= @session.adresse %></span>
            </p>
        </div>
    </div>

    <div class="session-show-apprenants-container sec-back-plate">
        <div class="session-show-inscriptions-header">
            <h1>Inscriptions<span class="pending-inscriptions"> <i><%= "(#{PreInscription.where(session_id: @session.id).length} en attente)" %></i></span></h1>
            <% preinscriptions_number = PreInscription.where(session_id: @session.id).length %>
            <% if preinscriptions_number == 1 %>
                <%= link_to "Voir la pré-inscription", session_pre_inscriptions_path(@session) %>
            <% elsif preinscriptions_number > 1 %>
                <%= link_to "Voir les #{preinscriptions_number} pré-inscriptions", session_pre_inscriptions_path(@session) %>
            <% end %>
        </div>
        <% @session.inscriptions.each do |inscription| %>
            <div class="session-show-apprenants-items sec-back-plate">
                <p class="apprenant-name"><%= "#{inscription.apprenant.prenom.capitalize} #{inscription.apprenant.nom.capitalize}" %></p>
                <div class="parcours-admin-details">
                    <p class="parcours-admin-steps">
                    Devis envoyé
                    <% if inscription.parcoursadmin.devis_envoye %>
                        <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                        <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    Devis validé
                    <% if inscription.parcoursadmin.devis_valide %>
                        <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                        <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    Contrat envoyé
                    <% if inscription.parcoursadmin.contrat_envoye %>
                        <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                        <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    Contrat signé
                    <% if inscription.parcoursadmin.contrat_signe %>
                        <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                        <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    Convocation envoyée
                    <% if inscription.parcoursadmin.convocation_envoye %>
                        <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                        <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    Émargement
                    <% if inscription.parcoursadmin.emargement %>
                        <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                        <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>
</div>
<p></p>