<%= render "shared/header", text: "Aperçu session" %>
<div class="session-show-container">
    <div class="session-info-flex">
        <div class="session-show-details-container sec-back-plate">
          <div class="session-show-info">
            <h1 class="show-session-details-items strong" data-controller="show-session-edit">
                <%= @session.programme.titre %>
            </h1>
              <div class="inline-p session-text">
                <p id="session-date_debut-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                    <span data-show-session-flatpickr-id-value="<%= @session.id %>" data-show-session-flatpickr-column-value="date_debut" data-controller="show-session-flatpickr"><span class="text-black">Du</span> <%= @session.date_debut.strftime("%d/%m/%y %Hh%M") %></span>
                    <i class="fa-solid fa-pencil"></i>
                </p>
                <p id="session-date_fin-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                    <span data-show-session-flatpickr-id-value="<%= @session.id %>" data-show-session-flatpickr-column-value="date_fin" data-controller="show-session-flatpickr"><span class="text-black">au</span> <%= @session.date_fin.strftime("%d/%m/%y %Hh%M") %></span>
                    <i class="fa-solid fa-pencil"></i>
                </p>
              </div>
            <hr class="separator">

            <div class="show-session-details">
            <%# PROGRAMME %>

            <%# INTERVENANT %>

            <%# DATES %>
              <div class="mini-info">



                <div class="sec-back-plate grosse-plate">
                  <div class="price">
                    <p>Prix: </p>
                    <p id="session-prix-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                      <span class="final-class" data-show-session-edit-column-value="prix" data-show-session-edit-id-value="<%= @session.id %>"  data-action="click->show-session-edit#openEdit"><%= @session.prix %>€</span>
                      <i class="fa-solid fa-pencil"></i>
                    </p>
                  </div>

                  <div class="city">
                  <p>Lieu: </p>
                    <p  id="session-adresse-<%= @session.id %>" class="show-session-details-items" data-controller="show-session-edit">
                        <span class="final-class" data-show-session-edit-column-value="adresse" data-show-session-edit-id-value="<%= @session.id %>"  data-action="click->show-session-edit#openEdit"><span class="text-black"></span><%= @session.adresse %></span>
                        <i class="fa-solid fa-pencil"></i>
                    </p>
                  </div>
                </div>
                <div class="sec-back-plate intervenant">
                  <div class="card-intervenant-img">
                    <% if @session.intervenant.photo.key %>
                      <%= cl_image_tag @session.intervenant.photo.key, width: 50, height: 50 %>
                    <% else %>
                      <i class="fa-solid fa-user-tie"></i>
                    <% end %>
                  </div>
                  <div class="intervenant-name">
                      <%= link_to intervenant_path(@session.intervenant) do %>
                      <%= @session.intervenant.nom.upcase %> <%= @session.intervenant.prenom.capitalize %>
                      <% end %>
                  </div>
                </div>
              </div>


              <%# PRIX %>


              <%# ADRESSE %>
            </div>
          </div>
      </div>

      <div class="sec-back-plate map">
        <div class="mapbox"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="session-show-apprenants-container sec-back-plate">
        <div class="session-show-inscriptions-header">
            <h1>Inscriptions<span class="pending-inscriptions"> <i><%= "(#{PreInscription.where(session_id: @session.id).length} en attente)" %></i></span></h1>
            <% preinscriptions_number = PreInscription.where(session_id: @session.id).length %>
            <% if preinscriptions_number == 1 %>
                <%= link_to "Voir la pré-inscription", session_pre_inscriptions_path(@session) %>
            <% elsif preinscriptions_number > 1 %>
                <%= link_to "Voir les #{preinscriptions_number} pré-inscriptions", session_pre_inscriptions_path(@session) %>
            <% end %>
        </div>
        <% @session.inscriptions.each do |inscription| %>
            <div class="session-show-apprenants-items sec-back-plate">
                <p class="apprenant-name"><%= "#{inscription.apprenant.prenom.capitalize} #{inscription.apprenant.nom.capitalize}" %></p>
                <div class="parcours-admin-details">
                    <p class="parcours-admin-steps">
                    <% if inscription.parcoursadmin.devis_envoye %>
                      <span class="non-validé">Devis envoyé</span>
                      <i class="fa-regular fa-circle-check" style="color: #46af5b; opacity: 0.5;"></i>
                    <% else %>
                      Devis envoyé
                      <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    <% if inscription.parcoursadmin.devis_valide %>
                      <span class="non-validé">Devis validé</span>
                      <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                      Devis validé
                      <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    <% if inscription.parcoursadmin.contrat_envoye %>
                      <span class="non-validé">Contrat envoyé</span>
                      <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                      Contrat envoyé
                      <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    <% if inscription.parcoursadmin.contrat_signe %>
                      <span class="non-validé">Contrat signé</span>
                      <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                      Contrat signé
                      <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    <% if inscription.parcoursadmin.convocation_envoye %>
                      <span class="non-validé">Convocation envoyée</span>
                      <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                      Convocation envoyée
                      <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                    <hr>
                    <p class="parcours-admin-steps">
                    <% if inscription.parcoursadmin.emargement %>
                      <span class="non-validé">Émargement</span>
                      <i class="fa-regular fa-circle-check" style="color: #46af5b;"></i>
                    <% else %>
                      Émargement
                      <i class="fa-regular fa-circle-xmark" style="color: #c23d3d;"></i>
                    <% end %>
                    </p>
                </div>
            </div>
        <% end %>
    </div>

</div>
