<div class="apprenant-index">
  <div class="apprenant-table-container">
    <div class="apprenant-table-container-scrollable">
      <table>
        <thead>
          <th>Nom</th>
          <th>Prénom</th>
<<<<<<< HEAD
          <th>Téléphone</th>
=======
          <th>Telephone</th>
>>>>>>> 6c038073c351625faac27862d2cb648f38b299bc
          <th>Email</th>
        </thead>
        <tbody>
          <% Intervenant.all.order(:nom).each do |intervenant| %>
              <tr data-link="<%= intervenant_path(intervenant)%>" data-mesdonnees-search-bar-target="row">
                <td><%= intervenant.nom %></td>
                <td><%= intervenant.prenom %></td>
                <td><%= intervenant.telephone %></td>
<<<<<<< HEAD
                <td><%= intervenant.email %></td>
=======
                <td><%= intervenant.email %>€</td>
>>>>>>> 6c038073c351625faac27862d2cb648f38b299bc
              </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>
</div>
