<%= render "shared/header", text: "Intervenants de formation :" %>
<div class="yield-container">
<div class="intervenants">
  <div class="intervenants-title">
    <h1>Fiche intervenant</h1>
    <%= link_to "Retour à la liste des intervenants", intervenants_path, class: "btn-sec" %>
  </div>


  <div class="card-global-calendar">
    <div class="card-intervenant-mini">
      <div class="card-intervenant-img">
        <% if @intervenant.photo.key %>
          <%= cl_image_tag @intervenant.photo.key, width: 60, height: 60 %>
        <% else %>
          <i class="fa-solid fa-user-tie"></i>
        <% end %>
      </div>
      <div class="card-intervenant-txt">
          <h2><%= @intervenant.prenom.capitalize %> <%= @intervenant.nom.capitalize %></h2>
          <p><%= @intervenant.adresse %><br>
          <%= @intervenant.code_postal %> <%= @intervenant.ville %></p>
          <p class="pcolor"><strong><%= @intervenant.telephone %></strong><br>
          <strong><%= @intervenant.email %></strong></p>
          <p>N° DA: <%= @intervenant.num_da %><br>SIRET: <%= @intervenant.siret %></p>
          <p class="pcolor"><strong><%= @intervenant.tarif %> € / jour</strong></p>
      </div>
      <div class="btn-intervenant">
        <%= link_to "Mettre à jour la fiche", edit_intervenant_path(@intervenant), class: "btn-prim" %>
        <%= link_to "Supprimer l'intervenant", intervenant_path(@intervenant), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"}, class: "btn-off" %>
      </div>
    </div>


    <div class="card-intervenant-calendar">
    <%# ajout de attribute: :date_debut car different du parametrage initial de la gem %>
      <%= month_calendar(events: @sessions.where(intervenant_id: @intervenant.id), attribute: :date_debut, end_attribute: :date_fin) do |date, sessions| %>
        <%= date.strftime("%d-%m") %>
        <% sessions.each do |session| %>
          <div class="meeting">
            <p><%= link_to session.nom, sessions_formation_path(session) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>