<%= render "shared/header", text: "Modifier votre profil" %>
<div class="yield-container new-preinscription-container">

<div class="new-preinscription-recap-session">
<div class="preinscription-form sec-back-plate">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
    <div class="preinscription-form-input">
      <%= f.input :genre, :collection => [['Femme', :femme], ['Homme', :homme]] %>
      <%= f.input :prenom %>
      <%= f.input :nom %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :fonction, :collection => [['Co-fondateur', :co_fondateur], ['Employé', :employed]]%>
      <%= f.input :photo, as: :file %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :password,
                  label: "Nouveau mot de passe",
                  hint: "Laissez vide si vous ne souhaitez pas changer de mot de passe",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmation du mot de passe",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  label: "Mot de passe actuel",
                  hint: "Nous avons besoin de votre ancien mot de passe pour confirmer le changement",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>


  <div class="form-actions">
    <%= f.button :submit, "Mettre à jour", class: "btn-prim" %>
    <br>
  </div>
</div>
</div>
<% end %>
</div>
<p>