<div class="apprenant-index">
  <h1>Liste des apprenants</h1>
  <div class="apprenant-table-container">
    <div class="apprenant-table-container-scrollable">
      <table>
        <thead>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Profession</th>
          <th>Entreprise</th>
        </thead>
        <tbody>
          <% Apprenant.all.each do |apprenant| %>
              <tr data-link="<%= apprenant_path(apprenant)%>">
                <td><%= apprenant.nom %></td>
                <td><%= apprenant.prenom %></td>
                <td><%= apprenant.profession %></td>
                <td><%= apprenant.entreprise.nom %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  </div>
</div>
