<%= render "shared/header", text: "Apprenants" %>
<div class="yield-container">
<div class="intervenants">
<div class="intervenants-title">
        <%= link_to "Ajouter un nouvel apprenant", new_apprenant_path, class: "intervenant-new-cta" %>
    </div>


    <div class="card-intervenants">
      <% @apprenants.each do |apprenant| %>
      <div class="card-intervenant-maxi">
        <div class="card-intervenant-txt-center">
          <h2><%= apprenant.prenom.capitalize %> <%= apprenant.nom.capitalize %></h2><br>
        </div>
          <div class="card-apprenant-txt">
          <p><strong>Tel</strong> : <%= apprenant.telephone %></p>
          <p><strong>Mail</strong> : <%= apprenant.email %></p>
        </div>
        <div class="btn-intervenant">
          <%= link_to "Voir la fiche", apprenant_path(apprenant), class: "btn-prim btn-intervenant-block" %>
          <%= link_to "Supprimer l'apprenant", apprenant_path(apprenant), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"}, class: "btn-off btn-intervenant-block" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
