<% if @intervenant %>
  <h1>Mettre à jour la fiche</h1>
<% else %>
  <h1>Nouvelle fiche intervenant</h1>
<% end %>

<%= simple_form_for(@intervenant) do |f| %>
  <%= f.input :prenom %>
  <%= f.input :nom %>
  <%= f.input :adresse %>
  <%= f.input :code_postal %>
  <%= f.input :ville %>
  <%= f.input :telephone %>
  <%= f.input :email %>
  <%= f.input :num_da %>
  <%= f.input :siret %>
  <%= f.input :photo, as: :file %>


  <% if @intervenant %>
    <span><%= f.submit "Mettre à jour la fiche" %></span>
  <% else %>
    <span><%= f.submit "Créer l'intervenant" %></span>
  <% end %>
<% end %>
